<!doctype html>
<html lang="zh-Hant-Tw">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
       var json = {
        "ID": 3,
        "Title": "總裁",
        "Name": "Eric",
        "PictureURL": "https://i.imgur.com/uxvy97n.png",
        "Phone": "0912345678",
        "Address": "新竹市大同區二三五路四號六樓",
        "Memo": "澳洲來的人",
        "isValid": true
    };

        function Binding() {
            new Vue({
                el: '#block1',
                data: json
            });
        }


        function GetData() {
   
            alert(JSON.stringify(json));
        }

        $(function () {
            Binding();
            $(button).click(function (e) {
                GetData();
            });
        });
    </script>
</head>

<body>
    <form>
        <div class="container">
            <div class="row" id="block1">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header bg-primary text-white">
                            資料編號: {{ID}}
                        </div>
                        <div class="text-center">
                        <img  style="width:200px" v-bind:src="PictureURL"/>
                    </div>
                        <div class="card-body">
                        
                            <label>職稱:</label>
                            <input class="form-control" type="text" v-model="Title">
                            <label>姓名:</label>
                            <input class="form-control" type="text" v-model="Name"/>
                            <label>Phone:</label>
                            <input class="form-control" type="text" v-model="Phone"/>
                            <label>Address:</label>
                            <input class="form-control" type="text" v-model="Address"/>
                            <label>Memo:</label>
                            <input class="form-control" type="text" v-model="Memo"/>
                        </div>
                        <div class="card-footer">
                            <button  id="button" type="button" class="btn btn-primary">查看資料</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</body>

</html>