<!doctype html>
<html lang="zh-Hant-Tw">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
        function Binding() {
            new Vue({
                el: '#block1',
                data: {
                    OriginalPrice: 0
                },
                computed: {
                    DiscountPrice: {
                        get: function () {
                            return this.OriginalPrice * 0.85;
                        },
                        set: function (val) {
                            this.OriginalPrice = val / 0.85;
                        }
                    },
                }
            });
        }


        $(function () {
            Binding();
        });
    </script>
</head>

<body>
    <div id="block1" class="row" style="margin: 10px">
        <div class="col-6">
            <label>原價: </label>
            <br />
            <input v-model="OriginalPrice"><br />
            <label>折價: </label>
            <br />
            <input v-model="DiscountPrice"><br />
        </div>
    </div>
</body>

</html>